body{
  margin: 16px;
  font-size: 19px;
  line-height: 1;
  font-family: 'Raleway';
  background: #dea779;
}
.page{
  padding: 0 8px;
  max-width: 1400px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
.left{
  width: 30%;
  float: left;
  box-shadow: -7px -7px 0px 0px rgba(0,0,0,0.2);
  background-color: #fdece2!important;
  margin-bottom: 16px;
}
.photo{
  position: relative;
  display: block;
  width: 100%;
  padding: 0!important;
}
img{
  width: 100%;
  padding: 0!important;
  margin: 0!important;
}
.name{
  position: absolute;
  padding: 0.01em 16px;
  display: block;
  bottom: 8px;
  left: 16px;
  color: white!important;
}
p{
  position: relative;
  vertical-align: middle;
  overflow-wrap: break-word;
}
.icons{
  color: #c08b5f;
  font-size: 18px;
}
.lang,.info{
  font-size: 18px;
    padding: 0.01em 16px;
}
.right{
  width: 65%;
  float: right;
  padding: 0 8px;
  display: block;
}
.edu, .work, .cocu{
  margin-bottom: 16px;
  padding: 0.01em 16px;
  /* color: #000!important; */
  background-color: #fdece2!important;
  box-shadow: -7px -7px 0px 0px rgba(0,0,0,0.2);
}
h4,h3{
  font-weight:100;
}
.bar{
  border-radius:0px;
  height: 30px;
  line-height: cen;
  padding:16px 16px;
  color:#fff!important;
  background-color:#ad815c!important;
  position: relative;
  position: relative;
  display: block;
  margin: 2em 0;
}
h2{
  color: grey;
}
